@media screen and (min-width: 1366px) {
  .ad {
    display: block !important;
  }
  
  /*  DISPLAY NONE  */
  .top-ad, #mnav .logo, #mnav .social-networks-container, .btn-open-menu, .btn-close-menu {
    display: none !important;
  }

  #content {
    width: 80%;
    margin: 0 auto;
    padding: initital;
  }

  .side-news {
    display: block;
  }

  /* MAIN HEADER */

  #mheader {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 25px;
    justify-content: center;
    align-items: center;
  }

  #mheader .logo {
    width: 250px;
    margin: 0 auto;
    margin-bottom: 15px;
    grid-column: 2;
  }

  .header-ad {
    width: 500px;
    position: absolute;
  }


  #mheader > .social-networks-container {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  #mheader > .social-networks-container img {
    width: 25px;
  }

  /*  MAIN NAV  */

  #mnav {
    position: initial;
    background-color: initial;
    display: flex;
    width: 100%;
    grid-column: 1 / 4;
  }

  #mnav ul {
    border: initial;
    padding-left: initial;
    margin-bottom: initial;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #mnav ul li {
    padding: 15px 15px 0;
    margin-bottom: initial;
  }

  #mnav ul li a {
    display: block;
    text-decoration: none;
    font-family: 'Merriweather Sans', sans-serif;
    text-transform: uppercase;
    font-size: 0.89em;
    transition: color 0.2s;
  }

  #mnav ul li a:hover {
    color: #828282;
  }

  /* GLOBAL SETTINGS FOR NEWS BOXES */
  .news-section {
    border-top: initial;
  }

  .news-box {
    box-shadow: initial;
    background-color: initial;
    transition: scale 0.2s;
  }

  .news-box:hover .img {
    transform: scale(10) !important;
    width: 1000px;
  }

  .news-box-info span {
    display: none;
  }

  .news-box-info {
    padding: initial;
  }

  .news-section > h4 {
    font-size: 1.13em;
    margin: initial;
  }

  /*  MAIN CONTAINER  */

  main {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    gap: 20px;
  }

  /* LATEST NEWS */
  
  #latest-news {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px 10px;
    grid-row: 1 / 3;
  }

  #latest-news > h4 {
    margin-bottom: 8px;
  }

  #latest-news ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 18px;
  }

  #latest-news ul li {
    display: block;
    border-bottom: 1.4px solid #0048bb25;
    padding: 10px 0;
  }

  #latest-news ul li:last-child {
    border-bottom: initial;
  }

  #latest-news ul li h6 a {
    font-size: 1.05em;
    line-height: 18px;
  }

  /* MAIN NEWS */
  
  #main-news {
    border-top: initial;
    padding: initial;
    margin-top: initial;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
  }

  #main-news a:first-child {
    grid-row: 1 / 3;
    overflow: hidden;
  }

  #main-news a:first-child div h2 {
    bottom: -20px;
  }

  #main-news a:first-child div img {
    display: block;
    min-height: 120%;
  }

  #main-news a:first-child div {
    position: relative;
  }

  .main-news-category, .main-news-info, #main-news p {
    display: none;
  }

  #main-news img {
    display: block;
  }

  #main-news h2 {
    margin-bottom: initial;
    padding: 15px;
    font-size: 1.8em;
  }

  /* NEWS HEADING STYLE */
  .news-box-info {
    position: relative;
  }

  #main-news h2, .news-box-info h3, .news-box-info h4 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(37,9,121,0) 0%, rgba(0,0,0,0.8155637254901961) 100%);
    text-shadow: 0 0 2px #0000002b;
    color: white;
    text-align: left;
    font-weight: 700;
  }

  .news-box-info h3, .news-box-info h4 {
    padding: 10px;
    font-size: 1em;
  }

  /* SIDE NEWS */

  .side-news-row {
    grid-row: 1 / 3;
  }

  .side-news-row > h4 {
    display: none;
  }

  #side-news-container {
    padding: initial;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
}

/* INTERNATIONAL NEWS ROW */
.news-container {
  padding: initial;
}
#international-news-row {
  display: grid;
  grid-template-columns: 2.5fr 0.4fr;
  grid-template-rows: 30px 1fr;
  gap: 20px;
  justify-content: flex-start;
  align-items: flex-start;
}

#international-news-row > h4 {
  grid-row: 1;
  grid-column: 1;
  background-color: #0047BB;
  padding: 8px 15px;
  color: #F3F4F5;
  letter-spacing: 1px;
  border-radius: 2px;
}

#international-news-container {
  grid-row: 2;
  grid-column: 1;
  display: grid;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

#middle-ad {
  grid-row: 1 / 3;
}